TableGameApp2/bin/Debug/heroStats.xml
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.lref
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.cache
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.cache
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
