TableGameApp2/bin/Debug/heroStats.xml
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.lref
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.cache
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.cache
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.exe
/TableGameAppTests/obj/Release
/TableGameAppTests/obj
/TableGameAppTests/bin/Release
/TableGameAppTests/bin
/TableGameApp2/obj
/TableGameApp2/.vs
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/testHeroStatus.xml
TableGameApp2/.vs/TableGameApp2/v17/.suo
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.pdb
TableGameApp2/obj/Debug/Pages/AlterHeroPage.baml
TableGameApp2/obj/Debug/Pages/AlterHeroPage.g.cs
TableGameApp2/obj/Debug/Pages/AlterHeroPage.g.i.cs
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2.g.resources
TableGameApp2/obj/Debug/TableGameApp2.pdb
TableGameApp2/.vs/TableGameApp2/v17/.suo
TableGameApp2/bin/Debug/TableGameApp2.exe
TableGameApp2/bin/Debug/TableGameApp2.pdb
TableGameApp2/obj/Debug/Pages/AlterHeroPage.baml
TableGameApp2/obj/Debug/Pages/AlterHeroPage.g.cs
TableGameApp2/obj/Debug/Pages/AlterHeroPage.g.i.cs
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2.g.resources
TableGameApp2/obj/Debug/TableGameApp2.pdb
TableGameApp2/Pages/AlterHeroPage.xaml
TableGameApp2/Pages/AlterHeroPage.xaml.cs
TableGameApp2/.vs/TableGameApp2/v17/.suo
TableGameApp2/bin/Debug/armyInfo.xml
TableGameApp2/bin/Debug/TableGameApp2.pdb
TableGameApp2/obj/Debug/Pages/AlterHeroPage.baml
TableGameApp2/obj/Debug/Pages/CreateArmyPage.baml
TableGameApp2/obj/Debug/TableGameApp2.csproj.CoreCompileInputs.cache
TableGameApp2/obj/Debug/TableGameApp2.exe
TableGameApp2/obj/Debug/TableGameApp2.g.resources
TableGameApp2/obj/Debug/TableGameApp2.pdb
TableGameApp2/obj/Debug/TableGameApp2_MarkupCompile.i.cache
